In [ ]:
#private member

In [ ]:
class test:
    def detail(self,name,age):
        self.__name=name
        self.__age=age
        print("Name: ", obj.__name)  
        print("age: ", obj.__age) 
        
obj=test()
obj.detail("sakthiaaa",23)

In [ ]:
class test:
    def detail(self,name,age):
        self.__name=name
        self.__age=age
    print("Name:", obj.__name)  
    print("age: ", obj.__age)   
obj=test()
obj.detail("john",23)

In [ ]:
class test1:
    def detail(self,name1,age1):
        self.__name1=name1
        self.__age1=age1
    print("Name:", obj1.__name1)  
    print("age: ", obj1.__age1)   
obj1=test1()
obj1.detail("john",23)

In [ ]:
class test:
    def detail(self,name,age):
        self.__name=name
        self.__age=age
    def show(self):
        print("Name:", obj.__name)  
        print("age: ", obj.__age)   
obj=test()
obj.detail("john",23)
obj.show()

In [ ]:
class school:
    def detail(self):
        self.name="ABC school"
        print("school name:",self.name)
    def stu1(self):
        print("name:sakthi")
        print("class: 10th")
    def stu2(self):
        print("name:shiva")
        print("class: 11th")
obj=school()
obj.detail()
obj.stu1()
obj.stu2()

In [ ]:
class school:
    def detail(self):
        self.name="ABC school"
        print("school name:",self.name)
    def __stu1(self):
        print("name:sakthi")
        print("class: 10th")
    def stu2(self):
        self.__stu1()
        print("name:shiva")
        print("class: 11th")
obj=school()
obj.detail()
obj.stu2()

In [ ]:
class school:
    def detail(self):
        self.name="ABC school"
        print("school name:",self.name)
    def __stu1(self):
        print("name:sakthi")
        print("class: 10th")
    def __stu2(self):
        print("name:shiva")
        print("class: 11th")
obj=school()
obj.detail()
obj._school__stu1()
obj._school__stu2()

In [ ]:
class school:
    name="ABC school"
    print("school name:",name)
    def stu1(self):
        print("name:sakthi")
        print("class: 10th")
    def stu2(self):
        print("name:shiva")
        print("class: 11th")
obj=school()

obj.stu1()
obj.stu2()

In [3]:
class school:
    __name="ABC school"
    print("school name:",obj.__name)
    def stu1(self):
        print("school name:",obj.__name)
        print("name:sakthi")
        print("class: 10th")
    def stu2(self):
        print("name:shiva")
        print("class: 11th")
    
obj=school()
obj.stu1()
obj.stu2()

school name: ABC school
school name: ABC school
name:sakthi
class: 10th
name:shiva
class: 11th

In [4]:
class school:
    __name="ABC school"
    print("school name:",obj.__name)
    def __stu1(self):
        print("school name:",obj.__name)
        print("name:sakthi")
        print("class: 10th")
    def stu2(self):
        self.__stu1()
        print("name:shiva")
        print("class: 11th")
    
obj=school()
obj.stu2()

school name: ABC school
school name: ABC school
name:sakthi
class: 10th
name:shiva
class: 11th